{% extends "base.html" %}

{% block main %}
  <main id="main">
    <h3>Aca deberia aparecer dinamicamente informacion importante:
      faltan tantos dias para envasar, la cerveza ya esta lista para tomar,
       falta x insumo para cocinar.
       <br>
       <br>
       Tipo widgets.
       <br>
       <br>
       Ademas deberia haber una forma facil de
       descontar cervezas del stock </h3>
       <br>
       <br>
       <p>En la hamburguesa deberia ir Proveedores, clientes, insumos, Que mas?</p>

  </main>
{% endblock %}
