  <nav id="navbar" class="navbar">
    <ul id="navMenu">
      <li class="navItem"><a href="{{ url_for('site.nueva_coccion') }}"><i class="fas fa-burn"></i>Cocina</a></li>
      <li class="navItem"><a href="{{ url_for('site.envasado') }}"><i class="fas fa-wine-bottle"></i>Envasado</a></li>
      <li class="navItem"><a href="{{ url_for('site.stock') }}"><i class="fas fa-boxes"></i>Stock</a></li>
      <li class="navItem"><a href="{{ url_for('site.registro') }}"><i class="fas fa-clipboard-list"></i>Registro</a></li>
  </ul>
  </nav>
