{% extends "base.html" %}

{% block main %}
  <main id="main">
    <form>
      <div id="select_receta" class="box_select">
        <div class="select_receta">
          <ul class="contenido_select_receta">
            <li class="default select_item">Receta </li>
          </ul>
          <i class="fas fa-angle-down select_item"></i>
          <i class="fas fa-angle-up select_item cerrado"></i>
        </div>
        <ul id="select_options_receta" class="cerrado">
          <li class="option">DPSM01</li>
          <li class="option">DPSM02</li>
          <li class="option">DPSM03</li>
        </ul>
      </div>

    </form>
  </main>
{% endblock %}
