{% extends "base.html" %}

{% block main %}
<main id="main">
  <form id="select-receta-form">
    <div id="select_receta_box" class="box_select">
      <div class="select_receta_default">
        <ul class="contenido_select_receta">
          <li class="default select_item">Receta </li>
        </ul>
        <i class="fas fa-angle-down select_item"></i>
        <i class="fas fa-angle-up select_item hidden"></i>
      </div>
      <ul id="select_options_receta" class="hidden">
        <!-- <li class="option">DPSM01</li>
        <li class="option">DPSM02</li>
        <li class="option">DPSM03</li>
        <li class="option">DPSM04</li>
        <li class="option">DPSM05</li>
        <li class="option">DPSM06</li>-->
      </ul>
    </div>
    <div class="resumenReceta hidden"></div>

  </form>
</main>
{% endblock %}

{% block extrajs %}
  <script src="{{ url_for('static', filename='js/scriptReceta.js') }}"></script>
{% endblock %}
