{% extends "base.html" %}


{% block extracss %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecoccion.css') }}">
{% endblock %}


{% block main %}
<main id="main">
  <div id="navRecetas">
    <h4>Recetas</h4>
    <div id="selector">
      <i class="fas fa-angle-double-left"></i>
      <i class="fas fa-angle-left"></i>
      <div id="desplegable">
        <input type="text" name="" id="input" value="Dorada Pampeana">
        <i class="fas fa-caret-down"></i>
        <ul>
          <h2></h2>
        </ul>
      </div>
      <i class="fas fa-angle-right"></i>
      <i class="fas fa-angle-double-right"></i>
    </div>

  </div>
  <div id="caracteristicas">
    <h3>Caracteristicas</h3>
    <p>
      La Dorada Pampeana es un estilo argentino de cerveza
      rubia de alta fermentación, bautizado por el reconocido
      cervecero artesanal, Marcelo Cerdán. El estilo está
      adaptado a las posibilidades de la Pampa Argentina.
      Generalmente se usa sólo malta pálida, aunque también
      se suele incorporar entre un 3-5 % de malta caramelo
      para darle un tono más dorado. Se utiliza lúpulo patagónico
      Cascade en la mayoría de los casos, y levaduras ale secas
      americanas. Posee un cuerpo liviano y un sutil amargor que
      balancea el dulzor de las maltas.
    </p>
  </div>
  <div id="indicadores">
    <h3 class="titulo">Indicadores</h3>
    <H4 id="color">Color: 6.3</H4>
    <div id="circuloColor">
    </div>
    <h4 class="tipoIndicador">OG</h4>
    <li>
      <span class="barra"><span id="og"></span></span>
    </li>
    <h4 class="valorIndicador">1.042</h4>
    <h4 class="tipoIndicador">FG</h4>
    <li>
      <span class="barra"><span id="fg"></span></span>
    </li>
    <h4 class="valorIndicador">1.009</h4>
    <h4 class="tipoIndicador">ABV</h4>
    <li>
      <span class="barra"><span id="abv"></span></span>
    </li>
    <h4 class="valorIndicador">4.29</h4>
    <h4 class="tipoIndicador">IBU</h4>
    <li>
      <span class="barra"><span id="ibu"></span></span>
    </li>
    <h4 class="valorIndicador">17.7</h4>
    <h4 class="tipoIndicador">Bal</h4>
    <li>
      <span class="barra" id="balanceBar"><span id="balance"></span></span>
    </li>
    <h4 class="valorIndicador">0.42</h4>

  </div>
  <div id="insumos">
    <h3>Insumos</h3>
    <div id="granos">Granos</div>
    <div class="colorGrid">Pale Ale (Ba-Malt)</div>
    <div class="colorGrid cantidad">9 Kg</div>
    <div>Caramelo 30 (Ba-Malt)</div>
    <div class="cantidad">0.45 Kg</div>
    <div class="colorGrid">Trigo Malteado (Ba-Malt)</div>
    <div class="colorGrid cantidad">0.45 Kg</div>
    <div>Copos Avena</div>
    <div class="cantidad">0.45 Kg</div>
    <div class="colorGrid">Chocolate (Ba-Malt)</div>
    <div class="colorGrid cantidad">0.02 Kg</div>
    <div id="lupulo">Lupulos</div>
    <div class="colorGrid">cascade arg</div>
    <div class="colorGrid cantidad">68 Grs</div>
    <div id="levadura">Levadura</div>
    <div class="colorGrid">Safale US-05</div>
    <div class="colorGrid cantidad">33 g</div>

  </div>
  <div id="datos">
    <h3>Datos</h3>
  </div>
  <div id="navEdit">
    <div id="botnesEdit">
      <i class="fas fa-window-close"></i>
      <i class="fas fa-pen-square"></i>

    </div>
  </div>
</main>
{% endblock %}

{% block extrajs %}
  <script src="{{ url_for('static', filename='js/scriptReceta.js') }}"></script>
{% endblock %}
