{% extends "base.html" %}


{% block extracss %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylecoccion.css') }}">
{% endblock %}


{% block main %}
<main id="main">
  <div id="navRecetas">
    <h4>Recetas</h4>
    <div id="selector">
      <i class="fas fa-angle-double-left"></i>
      <i class="fas fa-angle-left"></i>
      <div id="desplegable">
        <input type="text" name="" id="input">
        <i class="fas fa-caret-down"></i>
        <ul>
          <h2></h2>
        </ul>
      </div>
      <i class="fas fa-angle-right"></i>
      <i class="fas fa-angle-double-right"></i>
    </div>

  </div>
  <div id="caracteristicas">
    <h3>Caracteristicas</h3>
  </div>
  <div id="indicadores">
    <h3 class="titulo">Indicadores</h3>
    <H4 id="color">Color: 6.3</H4>
    <div id="circuloColor">
    </div>
    <h4 class="tipoIndicador">OG</h4>
    <li>
      <span class="barra"><span id="og"></span></span>
    </li>
    <h4 class="valorIndicador">1.042</h4>
    <h4 class="tipoIndicador">FG</h4>
    <li>
      <span class="barra"><span id="fg"></span></span>
    </li>
    <h4 class="valorIndicador">1.009</h4>
    <h4 class="tipoIndicador">ABV</h4>
    <li>
      <span class="barra"><span id="abv"></span></span>
    </li>
    <h4 class="valorIndicador">4.29</h4>
    <h4 class="tipoIndicador">IBU</h4>
    <li>
      <span class="barra"><span id="ibu"></span></span>
    </li>
    <h4 class="valorIndicador">17.7</h4>
    <h4 class="tipoIndicador">Bal</h4>
    <li>
      <span class="barra" id="balanceBar"><span id="balance"></span></span>
    </li>
    <h4 class="valorIndicador">0.42</h4>

  </div>
  <div id="insumos">
    <h3>Insumos</h3>
  </div>
  <div id="datos">
    <h3>Datos</h3>
  </div>
  <div id="navEdit">
    <div id="botnesEdit">
      <i class="fas fa-window-close"></i>
      <i class="fas fa-pen-square"></i>

    </div>
  </div>
</main>
{% endblock %}

{% block extrajs %}
  <script src="{{ url_for('static', filename='js/scriptReceta.js') }}"></script>
{% endblock %}
